/* colors */
/* sizes */
/* media */
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
button,
input,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  border-width: 0; }

html,
body {
  overflow-x: hidden; }

.common-background {
  background: linear-gradient(112deg, #56ccf2 80%, white 80%);
  height: 848px; }

.header {
  position: relative;
  height: 160px; }
  .header__navigation {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 51px;
    left: 423px; }

.navigation {
  font-size: 16px; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none; }
  .navigation__item {
    padding-right: 63px; }
  .navigation__link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .navigation__link--is-active {
      position: relative;
      margin-left: 72px; }
    .navigation__link--is-active:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 4px;
      left: 0;
      top: 25px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      border-radius: 4px; }
    .navigation__link:hover {
      color: #fcc304; }

@media (max-width: 950px) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .navigation__link:last-child {
    margin-left: 30px; } }

.logo {
  position: absolute;
  width: 53px;
  height: 32px;
  top: 48px;
  left: 227px;
  margin-right: 143px; }

.heading {
  position: relative;
  height: 692px;
  width: 100%;
  color: #fff; }
  .heading__name {
    position: absolute;
    font-weight: 900;
    font-size: 64px;
    line-height: 150%;
    left: 325px; }
  .heading__text {
    position: absolute;
    top: 100px;
    left: 325px;
    font-size: 24px;
    line-height: 150%;
    margin: 22px auto 0; }
  .heading__button {
    display: block;
    position: absolute;
    top: 185px;
    left: 325px;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 64px;
    padding: 16px 65px;
    text-align: center;
    letter-spacing: 1px;
    color: #253757;
    outline: none;
    margin-top: 42px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .heading__button:hover {
      background-color: #253757;
      color: #fff; }

@media (max-width: 950px) {
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .heading__name {
      margin-top: 35px;
      font-size: 32px;
      left: 25%; }
    .heading__text {
      margin: 0;
      font-size: 14px;
      left: 25%; }
    .heading__button {
      margin: 0;
      left: 25%; } }

.slider {
  position: relative;
  margin: auto;
  background-image: url("../images/slider/slide-img-1.jpg");
  background-size: cover;
  background-position: center;
  width: 1146px;
  height: 640px;
  bottom: 345px; }
  .slider__button {
    position: absolute;
    top: calc(50% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -7%;
    width: 164px;
    height: 64px; }
    .slider__button-left {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      outline: none;
      padding: 20px 35px;
      cursor: pointer; }
    .slider__button-right {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      outline: none;
      padding: 20px 35px;
      cursor: pointer; }
  .slider__intro {
    position: absolute;
    left: 100px;
    bottom: 80px; }
    .slider__intro-heading {
      font-weight: 800;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #56ccf2;
      line-height: 160%; }
    .slider__intro-text {
      font-weight: 900;
      font-size: 19.6px;
      color: #fff;
      line-height: 140%; }
  .slider__smedia {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: calc(50% - 35px);
    left: 960px; }
    .slider__smedia-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      color: #253757;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12.6px;
      letter-spacing: 2px;
      font-weight: 800;
      padding-left: 85px;
      cursor: pointer;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
      .slider__smedia-link--facebook:hover {
        color: #3b5998;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      .slider__smedia-link--twitter:hover {
        color: #00acee;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      .slider__smedia-link--instagram:hover {
        color: #e1306c;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }

@media (max-width: 950px) {
  .slider {
    width: 100%;
    height: 450px; }
    .slider__button {
      top: calc(100% - 32px);
      left: calc(50% - 81px); }
    .slider__intro {
      left: 20px;
      width: 100%; }
    .slider__smedia {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      position: absolute;
      top: 100%;
      left: 0;
      right: 50px;
      margin: 70px auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.section {
  position: relative;
  top: 400px; }

.welcome {
  left: 423px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 50px; }
  .welcome__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px; }
    .welcome__heading-image {
      width: 21px;
      height: 21px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(28.57%, rgba(255, 255, 255, 0.25)), color-stop(42.86%, rgba(255, 255, 255, 0)));
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 28.57%, rgba(255, 255, 255, 0) 42.86%);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-right: 16px;
      border: none; }
    .welcome__heading-text {
      font-weight: 800;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #56ccf2; }
  .welcome__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #253757; }

@media (max-width: 950px) {
  .welcome {
    left: 10%;
    margin: 0 auto; }
    .welcome__text {
      font-size: 18px; } }

.description {
  margin-top: 150px;
  margin-bottom: 100px; }
  .description__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .description__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    color: #253757;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    width: 295px;
    margin: 70px auto; }
  .description__description-item {
    margin-right: 100px; }
    .description__description-item:last-child {
      margin-right: 0; }

@media (max-width: 950px) {
  .description__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .description__description-item {
    margin: 50px 0 auto; } }

.description-item {
  width: 265px; }
  .description-item__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px; }
  .description-item__heading {
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%;
    margin-bottom: 32px; }
  .description-item__text {
    font-size: 16px;
    line-height: 150%;
    color: #334563; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 45px;
  margin: auto; }

@media (max-width: 950px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.process {
  left: 150px;
  margin-top: 200px; }
  .process__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 19px; }
  .process__image {
    width: 21px;
    height: 21px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28.57%, rgba(255, 255, 255, 0.25)), color-stop(42.86%, rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 28.57%, rgba(255, 255, 255, 0) 42.86%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 16px;
    border: none; }
  .process__heading-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
  .process__second-heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    margin-bottom: 64px; }
  .process__text {
    font-size: 16px;
    line-height: 150%;
    color: #334563; }

@media (max-width: 950px) {
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px; } }

.process-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  margin-top: 270px;
  margin-left: 187px; }
  .process-blocks__item {
    position: relative;
    width: 240px;
    height: 256px;
    padding: 48px 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 128px 58px 0 0; }
    .process-blocks__item--one {
      top: 335px; }
    .process-blocks__item--two {
      top: 225px; }
    .process-blocks__item--three {
      top: 335px; }
    .process-blocks__item--four {
      top: 225px; }
  .process-blocks__image {
    opacity: 1.1; }
  .process-blocks__number {
    position: absolute;
    top: 75px;
    font-weight: 900;
    font-size: 40px;
    text-align: center; }
    .process-blocks__number--one {
      color: #56ccf2; }
    .process-blocks__number--two {
      color: #fcc306; }
    .process-blocks__number--three {
      color: #8fe9a0; }
    .process-blocks__number--four {
      color: #f25656; }
  .process-blocks__text {
    font-size: 13px;
    text-align: center;
    color: #253757;
    margin-top: 32px; }

@media (max-width: 950px) {
  .process-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto; }
    .process-blocks__item {
      left: 0;
      right: 0; }
      .process-blocks__item--three {
        top: 100px; } }

.feature {
  background-color: #56ccf2;
  height: 975px;
  position: relative;
  top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0;
  background-image: url(../images/features/rectangle.png);
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1; }
  .feature__content {
    position: absolute;
    left: 227px;
    top: 200px; }
  .feature__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center; }
  .feature__image {
    width: 21px;
    height: 21px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28.57%, rgba(255, 255, 255, 0.25)), color-stop(42.86%, rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 28.57%, rgba(255, 255, 255, 0) 42.86%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 16px;
    border: none; }
  .feature__heading-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 19px; }
  .feature__second-heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    margin-bottom: 69px; }

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .feature-block__item {
    margin-bottom: 64px; }
  .feature-block__image {
    left: 227px;
    margin-right: 32px; }
  .feature-block__text {
    font-size: 16px;
    line-height: 150%;
    color: #fff; }

/*# sourceMappingURL=main.css.map */
