/* colors */
/* sizes */
/* media */
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
button,
form,
input,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  border-width: 0; }

html,
body {
  overflow-x: hidden; }

/* colors */
/* sizes */
/* media */
.common-background {
  background: linear-gradient(109deg, #56ccf2 82%, white 82%);
  height: 848px; }

@media (max-width: 1024px) {
  .common-background {
    background: linear-gradient(115deg, #56ccf2 90%, white 90%); } }

.header {
  position: relative;
  height: 160px; }
  .header__navigation {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 51px;
    left: 423px; }

.navigation {
  font-size: 16px; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none; }
  .navigation__item {
    padding-right: 63px; }
  .navigation__link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .navigation__link--is-active {
      position: relative;
      margin-left: 72px; }
    .navigation__link--is-active:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 4px;
      left: 0;
      top: 25px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      border-radius: 4px; }
    .navigation__link:hover {
      color: #fcc304; }

@media (max-width: 1024px) {
  .navigation {
    left: 240px; }
    .navigation__item {
      padding-right: 30px; } }

@media (max-width: 500px) {
  .navigation {
    left: 0;
    margin-left: 30%; }
    .navigation__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 50px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .navigation__item {
      margin-top: 30px; }
      .navigation__item:last-of-type {
        margin-right: 65px; } }

.logo {
  position: absolute;
  width: 53px;
  height: 32px;
  top: 48px;
  left: 227px;
  margin-right: 143px; }

@media (max-width: 1024px) {
  .logo {
    left: 50px; } }

.heading {
  position: relative;
  height: 692px;
  width: 100%;
  color: #fff; }
  .heading__name {
    position: absolute;
    font-weight: 900;
    font-size: 64px;
    line-height: 150%;
    left: 325px; }
  .heading__text {
    position: absolute;
    top: 100px;
    left: 325px;
    font-size: 24px;
    line-height: 150%;
    margin: 22px auto 0; }
  .heading__button {
    display: block;
    position: absolute;
    top: 185px;
    left: 325px;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 64px;
    padding: 16px 65px;
    text-align: center;
    letter-spacing: 1px;
    color: #253757;
    outline: none;
    margin-top: 42px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    .heading__button:hover {
      background-color: #253757;
      color: #fff; }

@media (max-width: 1024px) {
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .heading__name {
      margin-top: 35px;
      font-size: 38px;
      left: 25%; }
    .heading__text {
      margin: 0;
      font-size: 20px;
      left: 25%; }
    .heading__button {
      margin: 0;
      left: 25%; } }

@media (max-width: 500px) {
  .heading {
    top: 300px; }
    .heading__name {
      font-size: 25px; }
    .heading__text {
      font-size: 14px;
      text-align: center;
      left: 2%;
      right: 2%; }
    .heading__button {
      padding: 8px 32px;
      font-size: 10px;
      left: calc(50% - 70px); } }

.slider {
  position: relative;
  margin: auto;
  background-image: url("../images/slider/slide-img-1.jpg");
  background-size: cover;
  background-position: center;
  width: 1146px;
  height: 640px;
  bottom: 335px;
  left: 36px; }
  .slider__button {
    position: absolute;
    top: calc(50% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -85px;
    width: 164px;
    height: 64px; }
    .slider__button-left {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      outline: none;
      padding: 20px 35px;
      cursor: pointer; }
    .slider__button-right {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      outline: none;
      padding: 20px 35px;
      cursor: pointer; }
  .slider__intro {
    position: absolute;
    left: 100px;
    bottom: 80px; }
    .slider__intro-heading {
      font-weight: 800;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #56ccf2;
      line-height: 160%; }
    .slider__intro-text {
      font-weight: 900;
      font-size: 19.6px;
      color: #fff;
      line-height: 140%; }
  .slider__smedia {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: calc(50% - 35px);
    left: 960px; }
    .slider__smedia-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      color: #253757;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12.6px;
      letter-spacing: 2px;
      font-weight: 800;
      padding-left: 85px;
      cursor: pointer;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
      .slider__smedia-link--facebook:hover {
        color: #3b5998;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      .slider__smedia-link--twitter:hover {
        color: #00acee;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      .slider__smedia-link--instagram:hover {
        color: #e1306c;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }

@media (max-width: 1024px) {
  .slider {
    width: 100%;
    height: 450px;
    left: 0; }
    .slider__button {
      top: calc(100% - 32px);
      left: calc(50% - 67px); }
    .slider__intro {
      left: 20px;
      width: 100%; }
    .slider__smedia {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      position: absolute;
      top: 100%;
      left: 0;
      right: 50px;
      margin: 50px auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .slider__smedia-link {
        margin-top: 20px; } }

@media (max-width: 500px) {
  .slider {
    top: -90px; } }

.section {
  position: relative;
  top: 400px; }

.welcome {
  left: 423px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 50px; }
  .welcome__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px; }
    .welcome__heading-image {
      width: 21px;
      height: 21px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(28.57%, rgba(255, 255, 255, 0.25)), color-stop(42.86%, rgba(255, 255, 255, 0)));
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 28.57%, rgba(255, 255, 255, 0) 42.86%);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-right: 16px;
      border: none; }
    .welcome__heading-text {
      font-weight: 800;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #56ccf2; }
  .welcome__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #253757; }

@media (max-width: 1024px) {
  .welcome {
    left: 20%;
    margin: 0 auto; }
    .welcome__text {
      font-size: 18px; } }

.description {
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: 75px; }
  .description__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .description__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    color: #253757;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    width: 295px;
    margin: 70px auto; }
  .description__description-item {
    margin-right: 100px; }
    .description__description-item:last-child {
      margin-right: 0; }

@media (max-width: 1024px) {
  .description__list {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .description__description-item {
    margin: 50px 20px; } }

@media (max-width: 500px) {
  .description__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto; }
  .description__heading {
    margin-top: 70px 30px; }
  .description__description-item {
    margin: 25px; } }

.description-item {
  width: 265px; }
  .description-item__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px; }
  .description-item__heading {
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%;
    margin-bottom: 32px; }
  .description-item__text {
    font-size: 16px;
    line-height: 150%;
    color: #334563; }

@media (max-width: 1024px) {
  .description-item {
    margin-left: 50px; } }

@media (max-width: 500px) {
  .description-item__image {
    margin-bottom: 32px; }
  .description-item__heading {
    margin-bottom: 16px; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 45px;
  margin: auto; }

@media (max-width: 1024px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.process {
  left: 110px;
  margin-top: 200px; }
  .process__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 19px; }
  .process__image {
    width: 21px;
    height: 21px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28.57%, rgba(255, 255, 255, 0.25)), color-stop(42.86%, rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 28.57%, rgba(255, 255, 255, 0) 42.86%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 16px;
    border: none; }
  .process__heading-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
  .process__second-heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    margin-bottom: 64px; }
  .process__text {
    font-size: 16px;
    line-height: 150%;
    color: #334563; }

@media (max-width: 1024px) {
  .process {
    left: 50px;
    margin: 0 auto; } }

.process-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  margin-top: 260px;
  margin-left: 185px; }
  .process-blocks__item {
    position: relative;
    width: 240px;
    height: 256px;
    padding: 48px 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 128px 58px 0 0;
    background-color: #fff; }
    .process-blocks__item--one {
      top: 335px; }
    .process-blocks__item--two {
      top: 225px; }
    .process-blocks__item--three {
      top: 335px; }
    .process-blocks__item--four {
      top: 225px; }
  .process-blocks__image {
    opacity: 1.1; }
  .process-blocks__number {
    position: absolute;
    top: 75px;
    font-weight: 900;
    font-size: 40px;
    text-align: center; }
    .process-blocks__number--one {
      color: #56ccf2; }
    .process-blocks__number--two {
      color: #fcc306; }
    .process-blocks__number--three {
      color: #8fe9a0; }
    .process-blocks__number--four {
      color: #f25656; }
  .process-blocks__text {
    font-size: 13px;
    text-align: center;
    color: #253757;
    margin-top: 32px; }

@media (max-width: 1024px) {
  .process-blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 100px auto; }
    .process-blocks__item {
      left: 0;
      right: 0; } }

.feature {
  background-color: #56ccf2;
  height: 975px;
  position: relative;
  top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0;
  background-image: url(../images/features/rectangle.png);
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1; }
  .feature__content {
    position: absolute;
    left: 227px;
    top: 200px; }
  .feature__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center; }
  .feature__image {
    width: 21px;
    height: 21px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28.57%, rgba(255, 255, 255, 0.25)), color-stop(42.86%, rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 28.57%, rgba(255, 255, 255, 0) 42.86%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 16px;
    border: none; }
  .feature__heading-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 19px; }
  .feature__second-heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    margin-bottom: 69px; }

@media (max-width: 1024px) {
  .feature__content {
    left: 33%;
    margin: 0 auto; }
  .feature__second-heading {
    color: #eee; } }

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .feature-block__item {
    margin-bottom: 64px; }
  .feature-block__image {
    left: 227px;
    margin-right: 32px; }
  .feature-block__text {
    font-size: 16px;
    line-height: 150%;
    color: #fff; }

.testimonials {
  left: 227px;
  top: 165px;
  margin-top: 165px; }
  .testimonials__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center; }
  .testimonials__image {
    width: 21px;
    height: 21px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28.57%, rgba(255, 255, 255, 0.25)), color-stop(42.86%, rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 28.57%, rgba(255, 255, 255, 0) 42.86%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 16px;
    border: none; }
  .testimonials__heading-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    margin-bottom: 19px; }
  .testimonials__second-heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    margin-bottom: 86px; }

@media (max-width: 1024px) {
  .testimonials {
    left: 33%; } }

.testimonials-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcfcfd;
  margin-left: 30px; }
  .testimonials-blocks__card {
    width: 314px;
    height: 464px;
    margin-right: 78px;
    -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
            box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05); }
  .testimonials-blocks__person {
    position: relative;
    text-align: center;
    background-color: #fefefe;
    padding: 240px 32px 50px; }
    .testimonials-blocks__person-background--blue {
      position: absolute;
      top: 95px;
      right: 105px;
      width: 162px;
      height: 64px;
      border-radius: 32px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
    .testimonials-blocks__person-background--yellow {
      position: absolute;
      top: 95px;
      right: 105px;
      width: 162px;
      height: 64px;
      border-radius: 32px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
    .testimonials-blocks__person-background--red {
      position: absolute;
      top: 95px;
      right: 105px;
      width: 162px;
      height: 64px;
      border-radius: 32px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
    .testimonials-blocks__person-photo {
      position: absolute;
      top: 100px;
      width: 260px;
      border-radius: 32px; }
    .testimonials-blocks__person-image {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: top;
         object-position: top;
      -webkit-transition: 0.3s ease-in;
      transition: 0.3s ease-in; }
      .testimonials-blocks__person-image:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
    .testimonials-blocks__person-text {
      font-style: italic;
      font-size: 14px;
      font-weight: 400; }
    .testimonials-blocks__person-info--first::before {
      content: "";
      display: block;
      width: 64px;
      height: 2px;
      margin: 31px auto;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
    .testimonials-blocks__person-info--second::before {
      content: "";
      display: block;
      width: 64px;
      height: 2px;
      margin: 31px auto;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
    .testimonials-blocks__person-info--third::before {
      content: "";
      display: block;
      width: 64px;
      height: 2px;
      margin: 31px auto;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
    .testimonials-blocks__person-name {
      font-weight: bold;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #152032; }
    .testimonials-blocks__person-position--first {
      font-weight: 800;
      font-size: 12.6px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #56ccf2; }
    .testimonials-blocks__person-position--second {
      font-weight: 800;
      font-size: 12.6px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fcc304; }
    .testimonials-blocks__person-position--third {
      font-weight: 800;
      font-size: 12.6px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #f25656; }

@media (max-width: 1024px) {
  .testimonials-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    background-color: #fff; }
    .testimonials-blocks__card {
      margin: 20px 0; } }

@media (max-width: 500px) {
  .testimonials-blocks__card {
    width: 50%; } }

.vision {
  position: relative;
  top: 165px;
  height: 610px;
  margin: auto;
  text-align: center; }
  .vision__background {
    width: 1325px;
    height: 610px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 100px; }
  .vision__block {
    position: absolute;
    bottom: 180px;
    left: 400px; }
  .vision__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%; }
  .vision__text {
    font-size: 24px;
    line-height: 150%;
    margin-top: 50px;
    font-weight: 600; }
  .vision__button {
    width: 226px;
    border-radius: 64px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 55px;
    background-color: #2f80ed;
    color: #fff;
    outline: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .vision__button:hover {
      background-color: #56ccf2; }

@media (max-width: 1024px) {
  .vision__block {
    left: 13%; } }

@media (max-width: 500px) {
  .vision__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 200px;
    left: 20px;
    right: 20px; }
  .vision__text {
    font-size: 16px; }
  .vision__button {
    margin: 50px 100px; } }

.message {
  background-color: white;
  top: 125px;
  left: 38px; }
  .message__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1236px;
    margin: auto;
    padding: 104px 45px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 227px;
    top: 165px; }
  .message__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 104px; }
  .message__image {
    margin-right: 16px; }
  .message__heading-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
  .message__button {
    width: 226px;
    border-radius: 64px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 85px;
    background-color: #2f80ed;
    color: #fff;
    outline: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .message__button:hover {
      background-color: #56ccf2; }

@media (max-width: 1024px) {
  .message__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .message__form {
    width: 310px; } }

@media (max-width: 500px) {
  .message {
    margin-top: 40px; }
    .message__form {
      width: 100%; } }

.contacts__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 19px; }

.contacts__image {
  margin-right: 16px; }

.contacts__heading-text {
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2; }

.contacts__second-heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #253757;
  margin-bottom: 86px; }

.contacts__action {
  font-weight: 800;
  font-size: 13px;
  margin-top: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 150%; }

.contacts__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #56ccf2;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 150%; }
  .contacts__link:hover {
    color: #fcc304; }

.contacts__info-smedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 53px; }
  .contacts__info-smedia--link {
    margin-right: 48px; }
  .contacts__info-smedia--image {
    width: 32px;
    height: 32px; }

@media (max-width: 1024px) {
  .contacts {
    width: 100%;
    margin-top: 20%;
    margin-left: 23%; } }

@media (max-width: 500px) {
  .contacts {
    width: 100%;
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.form {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__info {
    color: #152032;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none; }

.footer {
  background-color: white;
  margin-top: 136px;
  margin-left: 72px; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1236px;
    height: 120px;
    margin: auto;
    padding: 0 45px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .footer__designers {
    color: #253757;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%; }
  .footer__link {
    text-decoration: none;
    color: #253757;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .footer__link:hover {
      color: #f25656; }
  .footer__navigation {
    font-size: 16px; }
    .footer__navigation-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      justify-items: center;
      list-style-type: none; }
    .footer__navigation-item {
      padding-right: 63px; }
    .footer__navigation-link {
      color: #253757;
      text-decoration: none;
      font-weight: bold;
      margin-bottom: 5px;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease; }
      .footer__navigation-link:hover {
        color: #fcc304; }

/*# sourceMappingURL=main.css.map */
